<section class="follow">
	<div class="follow-content">	
		<ul>
			<li>
				<a  href="{{ site.instagram }}" target="_blank">
					<img src="/assets/images/icons/Instagram.png"/>
				</a>
			</li>
			<li>
				<a  href="{{ site.twitter }}" target="_blank">
					<img src="/assets/images/icons/Twitter.png"/>
				</a>		
			</li>
			<li>
				<a  href="{{ site.linkedin }}" target="_blank">
					<img src="/assets/images/icons/linkedin.png"/>
				</a>		
			</li>
			<li>
				<a  href="{{ site.artstation }}" target="_blank">
					<img src="/assets/images/icons/artstation.png"/>
				</a>
			</li>

			<li>
				<a title="{{ site.email }}" href="mailto:{{ site.email }}">
					<img src="/assets/images/icons/email.png"/>
				</a>
			</li>
			<!-- 
			<li>
				<a  href="{{ site.facebook }}" target="_blank">
					<img src="/assets/images/icons/facebook.png"/>
				</a>
			</li>
			<li>
				<a  href="{{ site.pinterest }}" target="_blank">
					<img src="/assets/images/icons/social/Pintrest.png"/>
				</a>
			</li>
			<li>
				<a  href="{{ site.behance }}" target="_blank">
					<img src="/assets/images/icons/social/behance.png"/>
				</a>
			</li> -->
		</ul>
	</div>
</section> 